// base
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    color: #303537;
    background-color: #DBE5EA;
    font-family: 'Roboto Slab', serif;
}

a,
a:hover {
    cursor: pointer;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    border: none !important;
    outline: none;
    cursor: pointer;
    border-radius: 0 !important;

    &:hover,
    &:focus {
        border: none;
        outline: none;
    }
}

button {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 576px;
    padding: 0 5px;
}

.title-qestion {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #2C459E;
    margin-bottom: 15px;
}

.text-qestion {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    color: #303537;
    margin-left: 15px;
}

.subtitle-question {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    color: #303537;
    margin-bottom: 15px;
}

.btn {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0;
    width: 100%;
    background-color: #26245E;
    color: #F7FCFF;
}

.block-question {
    border: 2px solid #F7FCFF;
    padding: 18px 15px;
    margin-bottom: 30px;
}

// base

.header {
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 576px;
    background-position: center;

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 30px;
        color: #26245E;
    }
}

.desctiption__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 27px;
    color: #2C459E;
}

.description__argument {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #303537;
}

.question__wrapper {
    margin-bottom: 15px;
    position: relative;

    &:last-child {
        margin-bottom: 0px;
    }
}

.question-number {
    appearance: none;

    &:hover {
        appearance: none;
        -moz-appearance: textfield;
    }

    &:focus {
        appearance: none;
        -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.question-input-style {
    background-color: rgba(247, 252, 255, 0.5);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    color: #303537;
    width: 100%;
    height: 35px;
    padding-left: 5px;
}

.question__input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.question__input+label::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #F7FCFF;
    border-radius: 50%;
    margin-right: 15px;
}

label {
    margin-left: 0 !important;
    display: flex;
    align-items: center;
}

.text-qestion::after {
    background-color: #26245E;
    width: 20px;
    height: 20px;
    content: '';
    display: none;
    position: absolute;
    left: 5px;
    border-radius: 50%;
}

.question__input:checked+.text-qestion::after {
    display: block;
}